$pink: #E7235B;
$gray: #616161;
$darkgray: #363636;
$whitesmoke: #D9D9D9;

$defaultBackgroundColor: #232323;
$defaultFontFamily: 'Jost';
$defaultFontSize: 14px;
$defaultTextColor: black;
$defaultLineHeight: 1.2;